#Home {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(
    159.28deg,
    #eaefd3 55.13%,
    rgba(220, 196, 142, 0.66) 107.27%
  );
}

#Home.dark {
  background: linear-gradient(
    159.28deg,
    var(--base-color-blue) 55.13%,
    var(--base-color-dark) 107.27%
  );
}

@media only screen and (hover: none) and (pointer: coarse) {
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}

@media (pointer: fine) {
  #Home {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    > section {
      scroll-snap-align: start;
    }
  }
}
