#ScrollBar{
  position: fixed;
  left: 0;
  top: 50%;
  transform: translatey(-50%);
  box-sizing: border-box;
  padding: 1rem 6rem;
  
  .dots{
    display: flex;
    width: 30px;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }
}

.dot_icon{
  font-size: 20px;
  color: var(--base-color-dark);
  circle{
    cursor: pointer;
  }
  
}


.active{
  font-size:30px;
}


.dot_icon.dark{
  color: var(--base-color-light);
}

#ScrollBar.dark{
  .dot_icon{
    color: var(--base-color-light);
  }
}