#ScrollBar{
  position: fixed;
  left: 0;
  top: 50%;
  transform: translatey(-50%);
  box-sizing: border-box;
  
  .dots{
    display: flex;
    width: 30px;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }
}

.dot_icon{
  font-size: 20px;
  color: var(--base-color-dark);
  circle{
    cursor: pointer;
  }
}


.active{
  font-size:30px;
}


.dot_icon.dark{
  color: var(--base-color-light);
}

#ScrollBar.dark{
  .dot_icon{
    color: var(--base-color-light);
  }
}

@media screen and (min-width: 1024px) {
  #ScrollBar{
    padding: 1rem 6rem;
    .dots{
      width: 30px;
      .dot_icon{
        font-size: 20px;
      }
    }
  }
}

// Tablet
@media screen and (max-width: 1023.98px) and (min-width: 768px) {
  #ScrollBar{
    padding: 3rem;
    .dots{
      width: 20px;
      .dot_icon{
        font-size: 15px;
      }
    }
  }
}

// Mobile
@media screen and (max-width: 767.98px) {
  #ScrollBar{
    padding: 1rem;
    .dots{
      width: 15px;
      .dot_icon{
        font-size: 10px;
      }
    }
  }
}