#Links{
  position: fixed;
  display: flex;
  gap: 1rem;
  box-sizing: border-box;
  padding: 2rem 3rem;
  flex-direction: column;
  right: 0;
  bottom: 0;
}

.links_link{
  color: var(--base-color-yellow);
  background-color: var(--base-color-dark);
  box-shadow: var(--fancy-shadow);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
  
  height: 40px;
  width: 40px;
  text-decoration: none;
  text-align: center;
  svg{
    height: 18px;
    cursor: pointer;
    path{
      cursor: pointer;
    }
  }
  }
