#Navbar.dark {
  .logo {
    background-color: var(--base-color-light);
    .navbar_link-icon {
      color: var(--base-color-blue);
    }
  }
  .mobile_menu_switch {
    color: var(--base-color-dark);
    background-color: var(--base-color-light);
  }
}

#Navbar.light {
  .logo {
    background-color: var(--base-color-dark);
    .navbar_link-icon {
      color: var(--base-color-light);
    }
  }
  .mobile_menu_switch {
    color: var(--base-color-light);
    background-color: var(--base-color-dark);
  }
}

.navbar_link {
  scroll-behavior: smooth;
}

#Navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 3;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;

  .logo,
  .logo > a,
  .logo > a > .navbar_link-icon,
  .logo > a > .navbar_link-icon > path {
    cursor: pointer;
  }

  .logo {
    width: 40px;
    height: 40px;
    box-shadow: var(--fancy-shadow);
    border-radius: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: flex;
      text-decoration: none;
      width: 100%;
      text-align: center;
      justify-content: center;
    }
    .navbar_link-icon {
      font-size: 20px;
    }
  }

  .mobile_menu_switch {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: var(--fancy-shadow);
    .mobile_menu_switch-icon {
      width: 35px;
      height: 35px;
    }
  }
}

// Desktop
@media screen and (min-width: 1024px) {
  #Navbar {
    padding: 1rem 3rem;
    .logo {
      margin: 0 3rem;
    }
  }
}

// Tablet
@media screen and (max-width: 1023.98px) and (min-width: 768px) {
  #Navbar {
    padding: 1rem 2rem;
    .logo {
      margin: 0 1rem;
    }
  }
}

// Mobile
@media screen and (max-width: 767.98px) {
  #Navbar {
    padding: 1rem;
  }
}
