#Contact{

  box-sizing: border-box;
  padding: 3% 20%;
  width: 100%;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}